{
    "extends": [
        "prettier",
        "airbnb-base/legacy",
        "airbnb-typescript/base"
    ],
    "plugins": [
        "fsd",
        "prettier",
        "@typescript-eslint",
        "import"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "ignorePatterns": ["**/*.css", "**/*.test.ts"],
    "rules": {
        "linebreak-style": ["error", "windows"],
        "max-len": ["error", { "code":  121}],
        "fsd/hof-name-prefix": "error",
        "fsd/no-heavy-constructor": "error",
        "fsd/jq-cache-dom-elements": "error",
        "fsd/jq-use-js-prefix-in-selector": "error",
        "fsd/no-function-declaration-in-event-listener": "error",
        "fsd/split-conditionals": "error"
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "globals": {
      "autobind": "readonly"
    }
}
