html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  min-width: 320px;
}

.slider-demo__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.slider-wrapper {
  width: 90%;
  min-height: 185px;
  box-sizing: border-box;
  padding: 40px 40px;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(2,114,82,1);
  border-radius: 20px;
}

.slider-wrapper__header {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(2, 114, 82);
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(2, 114, 82);
  margin: 0 0 40px 0;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .slider-wrapper__header {
    font-size: 30px;
  }
}
