.main {
  padding: 60px 0;
}
.js-slider__header {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(2, 114, 82);
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(2, 114, 82);
  margin: 0 0 40px 0;
  user-select: none;
}
.slider-wrapper {
  width: 586px;
  min-height: 185px;
  box-sizing: border-box;
  padding: 40px 40px;
  position: relative;
  border: 3px solid rgb(2, 114, 82);
  border-radius: 20px;
  margin: 0 auto 40px;
}